#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

[id] {
  scroll-margin-top: 3rem; /* Increased to account for navbar height */
}
